@define-color bgc #1E1E1E;
@define-color borderc #ffffff;
@define-color textc #ffffff;
@define-color bg-alt #1E1E1E;

* {
  font-family: JetBrainsMonoNerdFontMono;
  font-weight: bold;
  font-size: 15px;
  border-width: 2px;
  border-color: @borderc;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @bgc;
}

.notification-row {
  outline: none;
  margin: 20px;
  padding: 0;
}

.notification {
  background: @bgc;
  margin: 0px;
  border-radius: 0px;
  border-width: 2px;
  border-color: @borderc;
}

.notification-content {
  background: @bgc;
  padding: 10px;
  margin: 0;
  color: @textc;
}

.notification-default-action,
.notification-default-action * {
  background: @bgc;
  color: @textc;
}

.notification-default-action:hover {
  background: @bg-alt;
}

.close-button {
  background: @bgc;
  color: @borderc;
  text-shadow: none;
  padding: 4px 8px;
  border-radius: 0px;
  margin-top: 5px;
  margin-right: 5px;
  border: 2px solid @borderc;
}

.close-button:hover {
  background: @borderc;
  color: @bgc;
  transition: all 0.15s ease-in-out;
}

.notification-action {
  color: @textc;
  background: @bg-alt;
  border-radius: 0px;
  padding: 8px 12px;
  margin: 4px;
  border: 2px solid @borderc;
}

.notification-action:hover {
  background: @borderc;
  color: @bgc;
}

.summary {
  padding-top: 7px;
  font-size: 13px;
  font-weight: bold;
  color: @textc;
  background: transparent;
}

.time {
  font-size: 11px;
  color: @textc;
  margin-right: 18px;
  background: transparent;
}

.body {
  font-size: 12px;
  color: @textc;
  padding-top: 4px;
  background: transparent;
}

.app-name {
  color: @textc;
  background: transparent;
}

.control-center {
  background-color: @bgc;
  border-radius: 0px;
  border-color: @borderc;
  border-width: 2px;
  border-style: solid;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
  color: @textc;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: rgba(0, 0, 0, 0.1);
}

.widget-title {
  color: @textc;
  background: transparent;
  padding: 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: 1rem;
  color: @textc;
  padding: 10px;
  text-shadow: none;
  background: @bgc;
  box-shadow: none;
  border-radius: 0px;
  border: 2px solid @borderc;
}

.widget-title > button:hover {
  background: @borderc;
  color: @bgc;
  transition: all 0.15s ease-in-out;
}

.widget-label {
  margin: 10px;
  background: transparent;
}

.widget-label > label {
  font-size: 1rem;
  color: @textc;
  background: transparent;
}

.widget-mpris {
  color: @textc;
  background: @bgc;
  padding: 12px;
  margin: 10px;
}

.widget-mpris * {
  background: transparent;
  color: @textc;
}

.widget-mpris > box > button {
  border-radius: 0px;
  background: @bgc;
  color: @textc;
  padding: 8px;
}

.widget-mpris > box > button:hover {
  /*ISSUE: Doit intervertir les couleurs */
  /* background: @borderc; */
  /* color: @bgc; */
  /* transition: all 0.15s ease-in-out; */
}

.widget-mpris-player {
  padding: 8px;
  margin: 0;
  background: transparent;
}

.widget-mpris-title {
  color: @textc !;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
}

.widget-mpris-subtitle {
  color: @textc;
  font-size: 12px;
  background: transparent;
}

.widget-mpris-album {
  color: @textc;
  font-size: 11px;
  opacity: 0.8;
  background: transparent;
}

.image {
  margin: 8px;
  border-radius: 0px;
}

button {
  background: transparent;
  color: @textc;
}

label {
  background: transparent;
  color: @textc;
}
