* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background: #1e1e1e;
  transition: background-color 0.3s ease;
}

window#waybar.empty {
  background-color: transparent;
}

#workspaces {
  color: #ffffff;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
}

#workspaces button {
  color: #ffffff;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.active {
  color: #ffffff;
  transition: all 0.3s ease;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button:hover {
  background: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0px transparent inset;
}

#mpris {
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: #ffffff;
  font-size: 15px;
  font-weight: 900;
  font-family: "JetBrains Mono Nerd Font";
  opacity: 1;
  margin: 3px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#custom-network,
#custom-bluetooth,
#pulseaudio.microphone,
#custom-volume,
#backlight,
#memory,
#cpu,
#menu,
#temperature,
#custom-disk,
#battery {
  font-weight: normal;
  font-size: 20px;
  padding-right: 6px;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
}

#battery.critical:not(.charging) {
  color: red;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: #ffffff;
  margin-left: 6px;
  margin-right: 6px;
}

#custom-left-margin {
  opacity: 0;
  margin-left: -6px;
}

#custom-right-margin {
  opacity: 0;
  margin-right: 6px;
}

#custom-separator {
  color: #ffffff;
  margin-left: 4px;
  margin-right: 4px;
}
