[credential]
	helper = store
[user]
	email = enzo.sergiani@protonmail.com
	name = Enzo Sergiani
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
